@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.triangle {

}
html {
  scroll-behavior: smooth;
}

.triangle::before {
  content: '';
  height: 100%;
  position: absolute;
  top: 0; 
  left: 0em;
  border: 1em solid transparent;
  border-left-color: #ffffff;
}


.carousel {
  display: inline-flex;
  overflow-x: hidden;
  /*  scroll snap is a great feature which will center the image on snap on touch screen devices  */
  scroll-snap-type: x mandatory;
  /* all below will hide the scrollbar on all browsers.    */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

/*
#card:hover { transform: rotateY(180deg); }
*/

#card > div:nth-child(1) { transition-delay: 150ms;}

/*
#card:hover > div:nth-child(1) {
  opacity: 0;
  z-index: -1;
}
*/
.imgproduct {
  padding: 10px;
  margin-bottom: 2px;
  overflow: hidden;
  width: 100%;  
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  max-height: 200px;
  min-height: 200px;
}

/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }

  
}


/* Webkit (Safari/Chrome) Scrollbar Styles */
/* Note: These styles are only for Webkit-based browsers */
::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar handle */
  border-radius: 20px; /* Rounded corners */
  border: 3px solid #ffffff; /* Border around the scrollbar handle */
}

/* Firefox Scrollbar Styles */
/* Note: These styles are for Firefox */
/* Use -moz prefix for Firefox compatibility */
* {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888 #f1f1f1; /* For Firefox */
}

*::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar handle */
  border-radius: 20px; /* Rounded corners */
  border: none; /* Border around the scrollbar handle */
}
